name: build-push-deploy
on:
  push:
    branches:
      - 'main'
jobs:
  test-build-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Setup Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true
      - name: Setup Docker BuildX
        uses: docker/setup-buildx-action@v1
      - name: Configure Docker
        run: |
          gcloud auth configure-docker
      - name: Build and push container image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ secrets.DOCKER_REGISTRY_PRIVATE }}/golang-vanity-url:latest
