name: build-push-deploy
on:
  push:
    branches:
      - 'main'
jobs:
  test-build-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v1
      - name: Setup Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true
      - name: Configure Docker authentication
        run: |
          gcloud auth configure-docker ${{ secrets.REGISTRY_HOST }}
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          images: ${{ secrets.REGISTRY_URL }}/golang-vanity-url
          tag-sha: true
          tag-latest: false
          tag-custom:
            - latest
      - name: Build and push container image
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}

